<form (ngSubmit)="editCustomer()" #f="ngForm">
  <div style="padding:15px">
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Customer Id</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Customer Id"
               name="customerId"
               required
               ngModel
               #customerIdValidator="ngModel"
               [readonly]="id?.length != 0">
      </div>
      <ul *ngIf="!customerIdValidator.valid && f.touched" class="col-md-4">
        <li *ngIf="customerIdValidator.errors.required">
          <span class="validation-error">Customer Id is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Company Name</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Company Name"
               required
               ngModel
               #companyNameValidator="ngModel"
               name="companyName">
      </div>
      <ul *ngIf="!companyNameValidator.valid && f.touched" class="col-md-4">
        <li *ngIf="companyNameValidator.errors.required">
          <span class="validation-error">Company Name is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">City</label>
      <div class="col-md-4">
        <select class="form-control"
                placeholder="City"
                required
                ngModel
                #cityValidator="ngModel"
                name="city">
          <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
        </select>
      </div>
      <ul *ngIf="!cityValidator.valid && f.touched" class="col-md-4">
        <li *ngIf="cityValidator.errors.required">
          <span class="validation-error">City is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Country</label>
      <div class="col-md-4">
        <select class="form-control"
                placeholder="Country"
                required
                ngModel
                #countryvalidator="ngModel"
                name="country">
          <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
        </select>
      </div>
      <ul *ngIf="!countryvalidator.valid && f.touched" class="col-md-4">
        <li *ngIf="countryvalidator.errors.required">
          <span class="validation-error">Country is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Postal Code</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Postal Code"
               ngModel
               #postalCodevalidator="ngModel"
               required
               name="postalCode">
      </div>
      <ul *ngIf="!postalCodevalidator.valid && f.touched" class="col-md-4">
        <li *ngIf="postalCodevalidator.errors.required">
          <span class="validation-error">Postal code is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Contact Name</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Contact Name"
               ngModel
               #contactName="ngModel"
               required
               name="contactName">
      </div>
      <ul *ngIf="!contactName.valid && f.touched" class="col-md-4">
        <li *ngIf="contactName.errors.required">
          <span class="validation-error">Contact name is required</span>
        </li>
      </ul>
    </div>
    <div class="custom-form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</form>
