<div class="container" *ngIf="customer">
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Company Name</div>
        <div class="col-md-8">{{customer.companyName}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Name</div>
        <div class="col-md-8">{{customer.contactName}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Title</div>
        <div class="col-md-8">{{customer.contactTitle}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Address</div>
        <div class="col-md-8">{{customer.address}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact City</div>
        <div class="col-md-8">{{customer.city}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Postal Code</div>
        <div class="col-md-8">{{customer.postalCode}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Country</div>
        <div class="col-md-8">{{customer.country}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Phoine</div>
        <div class="col-md-8">{{customer.phone}}</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="font-weight:200">Contact Fax</div>
        <div class="col-md-8">{{customer.fax}}</div>
    </div>
</div>