/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.custom-btn-group > .btn {
  margin-right: 5px;
  vertical-align: baseline;
  margin-top: 15px;
  margin-bottom: 10px;
}

.tr-hover {
  background-color: aliceblue;
}

.tr-selected {
  background-color: #8bacad;
}

.centered-content {
  text-align: -webkit-center;
  padding: 15px;
}
