<div>
    <app-modal *ngIf="addModalActive" [title]="addModalTitle" (dismiss)="toggleAddModal(false)">
        <app-customer-edit (onCancelEdit)="toggleAddModal(false)" (onSave)="toggleAddModal(false)" class="col-md-5"></app-customer-edit>
    </app-modal>
</div>

<button type="button" (click)="toggleAddModal(true)" class="btn btn-primary">New</button>
<hr />
<div class="row">
    <table class="table table-bordered col-md-6">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company Name</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Title</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers"
                (click)="selectCustomer(customer.customerId)"
                style="cursor:pointer"
                [ngClass]="{'tr-selected': customer.customerId === selectedId}">
                <td>{{customer.customerId}}</td>
                <td>{{customer.companyName}}</td>
                <td>{{customer.contactName}}</td>
                <td>{{customer.contactTitle}}</td>
                <td>{{customer.country}}</td>
            </tr>
        </tbody>
    </table>
    <app-customer-display *ngIf="!editMode && selectedId" [id]="selectedId" (onActivateEditMode)="setEditMode(true)" class="col-md-6"></app-customer-display>
    <app-customer-edit *ngIf="editMode && selectedId" [id]="selectedId" (onCancelEdit)="setEditMode(false)" class="col-md-5"></app-customer-edit>
</div>