<form (ngSubmit)="editCustomer()" #f="ngForm">
  <div style="padding:15px">
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Customer Id</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Customer Id"
               name="customerId"
               maxlength="5"
               required
               ngModel
               #customerIdValidator="ngModel"
               [readonly]="id !== undefined">
      </div>
      <ul *ngIf="!customerIdValidator.valid && f.touched" class="col-md-4">
        <li *ngIf="customerIdValidator.errors?.required">
          <span class="validation-error">Customer Id is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Company Name</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Company Name"
               required
               minlength="5"
               maxlength="50"
               ngModel
               #companyNameValidator="ngModel"
               name="companyName">
      </div>
      <ul *ngIf="!companyNameValidator.valid && f.touched" class="col-md-4">
        <li *ngIf="companyNameValidator.errors?.required">
          <span class="validation-error">Company Name is required</span>
        </li>
        <li *ngIf="companyNameValidator.errors?.minlength">
          <span class="validation-error">
            Should be minimum of {{companyNameValidator.errors?.minlength.requiredLength}} catacters !
          </span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">City</label>
      <div class="col-md-4">
        <select class="form-control"
                placeholder="City"
                ngModel
                #cityValidator="ngModel"
                name="city">
          <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Country</label>
      <div class="col-md-4">
        <select class="form-control"
                placeholder="Country"
                required
                ngModel
                #countryvalidator="ngModel"
                name="country">
          <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
        </select>
      </div>
      <ul *ngIf="!countryvalidator.valid && f.touched" class="col-md-4">
        <li *ngIf="countryvalidator.errors?.required">
          <span class="validation-error">Country is required</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Postal Code</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Postal Code"
               ngModel
               #postalCodevalidator="ngModel"
               pattern="[A-Z0-9 -]*"
               name="postalCode">
      </div>
      <ul *ngIf="!postalCodevalidator.valid && f.touched" class="col-md-4">
        <li *ngIf="postalCodevalidator.errors?.pattern">
          <span class="validation-error">Only big letters or numbers</span>
        </li>
      </ul>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-md-4 col-form-label">Contact Name</label>
      <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="Contact Name"
               ngModel
               minlength="5"
               maxlength="50"
               #contactNameValidator="ngModel"
               #contactName="ngModel"
               name="contactName">
      </div>
      <ul *ngIf="!contactNameValidator.valid && f.touched" class="col-md-4">
        <li *ngIf="contactNameValidator.errors?.minlength">
          <span class="validation-error">
            Should be minimum of {{contactNameValidator.errors?.minlength.requiredLength}} catacters !
          </span>
        </li>
      </ul>
    </div>
    <div class="custom-form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid && f.touched">Save</button>
      <button type="button" (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</form>
