<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" style="cursor:pointer" (click)="toggleSearchAreaOpen()">
      <div class="row">
        <p class="col-md-6" style="font-size: 25px;"><b>Search</b></p>
      </div>
    </div>
    <div class="panel-body collapse" [ngClass]="{'in': !collapsed}">
      <app-order-search></app-order-search>
      <div class="row centered-content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" (click)="setSortField('contactName')" style="cursor:pointer">
                <span>Contact Name</span>
                <span *ngIf="desc && sortField === 'contactName'">⮝</span>
                <span *ngIf="!desc && sortField === 'contactName'">⮟</span>
              </th>
              <th scope="col" (click)="setSortField('employee')" style="cursor:pointer">
                <span>Employee</span>
                <span *ngIf="desc && sortField === 'employee'">⮝</span>
                <span *ngIf="!desc && sortField === 'employee'">⮟</span>
              </th>
              <th scope="col" (click)="setSortField('orderDate')" style="cursor:pointer">
                <span>Order Date</span>
                <span *ngIf="desc && sortField === 'orderDate'">⮝</span>
                <span *ngIf="!desc && sortField === 'orderDate'">⮟</span>
              </th>
              <th scope="col" (click)="setSortField('shipCountry')" style="cursor:pointer">
                <span>Ship Country</span>
                <span *ngIf="desc && sortField === 'shipCountry'">⮝</span>
                <span *ngIf="!desc && sortField === 'shipCountry'">⮟</span>
              </th>
              <th scope="col" (click)="setSortField('totalOrderedUnits')" style="cursor:pointer">
                <span>Total Units</span>
                <span *ngIf="desc && sortField === 'totalOrderedUnits'">⮝</span>
                <span *ngIf="!desc && sortField === 'totalOrderedUnits'">⮟</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders"
                #orderTableRow
                (dblclick)="selectOrder(order.id)"
                (mouseenter)="setRowBgColor(orderTableRow)"
                (mouseout)="setBackBgColor(orderTableRow)"
                style="cursor:pointer"
                [ngClass]="{'tr-selected': order.id === selectedId}">
              <td>{{order.id}}</td>
              <td>{{order.contactName}}</td>
              <td>{{order.employee}}</td>
              <td>{{order.orderDate}}</td>
              <td>{{order.shipCountry}}</td>
              <td>{{order.totalOrderedUnits}}</td>
            </tr>
          </tbody>
        </table>
        <app-pager *ngIf="orders"
                   (ChangePagerSettings)="onChangePagerSettings($event)"
                   [totalCount]="totalCount"
                   [selectedPageSize]=5>
        </app-pager>
      </div>
    </div>
  </div>

  <div *ngIf="selectedId">
    <ul class="nav nav-tabs">
      <li style="cursor:pointer" [ngClass]="{'active': orderTabMenu.profile}"><a (click)="orderTabMenu.displayProfile()">Profile</a></li>
      <li style="cursor:pointer" [ngClass]="{'active': orderTabMenu.orderDetails}"><a (click)="orderTabMenu.displayOrderDetails()">Order Details</a></li>
    </ul>
    <br>
    <div>
      <div *ngIf="orderTabMenu.profile">
        <app-order-edit></app-order-edit>
      </div>
      <div *ngIf="orderTabMenu.orderDetails">
        <app-order-details *ngIf="editMode"></app-order-details>
      </div>
    </div>
  </div>
</div>
