.parent-container {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.suggestion-panel {
  background-color: red;
  position: static;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  overflow: auto;
}


.suggestion {
  padding: 8px;
  cursor: pointer;
}

  .suggestion:hover {
    background-color: #f5f5f5;
  }
